*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
main{
    margin: 2px;
    margin-bottom: 50px;
}
header{
    background-image: url(../img/pattern.png);
    background-color: dodgerblue;
    background-size: contain;
    height: 100px; 
    position: relative;   
    margin-bottom: 20px;
}
.logotesto img{
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: 0;