*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
main{
    margin: 2px;
    margin-bottom: 50px;
}
header{
    background-image: url(../img/pattern.png);
    background-color: dodgerblue;
    background-size: contain;
    height: 100px; 
    position: relative;   
    margin-bottom: 20px;
}
.logotesto img{
    width: 200px;
    position: absolute;
    bottom: 10px;
    left: 0;
}
.autorearticolo a{
    text-decoration: none;
    color:deepskyblue;
    font-size: 20px;
}
.autorearticolo{
    color: grey;
    font-size: 15px;
    margin-bottom: 20px;
}
.didascalia{
    font-style: italic;
    font-size: 12px;
    margin-bottom: 20px;
}
.lista{
    margin-top: 30px;
    margin-bottom: 30px;
}
#txt_evidenziato{
    background-color: yellow;
}
table{
    background-color:royalblue;
    text-align: left;
    margin-bottom: 20px;
}
thead{
    color: white;
}
tbody td{
    background-color: aqua;
}
#rigabianca>td{
    background: white;
}
td{
   height: 60px;
}

footer{
    color: grey;
}
.primoitem{
    background-image: url(../img/monitor.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 20px;
}

.secondoitem{
    background-image: url(../img/graph.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    font-weight: bold;
}